* {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}
body {
  max-width: 1300px;
  margin: auto;
}
.text-orange {
  color: #fd6e0a;
}

/*********** all button styles ***********/
.btn-orange {
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 13px 20px;
  cursor: pointer;
}

.btn-orange:hover {
  background: #d95f08;
}

.btn-outline {
  border-radius: 5px;
  padding: 12px 20px;
  background: #fff8f3;
  font-size: 16px;
  font-weight: 600;
  color: #fd6e0a;
  cursor: pointer;
  border: 1px solid #fd6e0a;
  margin-left: 2%;
}

.btn-outline:hover {
  background: #fd6e0a;
  color: #fff;
}

/* ******** header styles ******** */
header {
  background: #fff8f3;
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: left 3% center, bottom right;
  background-size: 5.5% auto, auto 64%;
}

.nav-title {
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 2% 3% 2% 0%;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-left: 50px;
}

a {
  text-decoration: none;
  color: #474747;
}

nav ul li > a:hover {
  color: #fd6e0a;
  text-decoration: underline;
}

/* ********* banner styles********** */

.banner {
  display: flex;
  align-items: center;
  margin-left: 14%;
}

.banner-info {
  width: 55%;
}

.banner-info h2 {
  color: #474747;

  font-size: 45px;

  font-weight: 600;
}

.banner-info p {
  padding: 3% 0;
  width: 80%;
  font-size: medium;
  color: #757575;
}

.banner-info h1 {
  color: #181818;

  font-size: 70px;
  font-style: normal;
  font-weight: 700;
}

.banner img {
  width: 40%;
}
/* ******** about-me section styles********* */
.about-container {
  width: 70%;
  margin: 8% auto;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff8f3;
  text-align: center;
  padding: 5%;
}
.about-me p {
  padding: 3% 8%;
  color: #757575;
  line-height: 28px;
}

.section-title {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}
.about-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.about-info h4 {
  color: #474747;
}

/* ************ What-i-do section styles *********** */

.what-I-do-container {
  width: 80%;
  margin: 8% auto;
  border-radius: 10px;
  text-align: center;
  padding: 5%;
}
.card-container {
  display: flex;
  justify-content: space-around;
  gap: 3%;
}
.card {
  text-align: justify;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 3%;
}
.card h4 {
  padding: 6% 0;
}
.section-description {
  color: #757575;
  font-size: 16px;
  
}
